@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
    --color-brand: #22c55e;
    --color-darkBg: #111827;
    --color-darkSidebar: #1f2937;
}

[x-cloak] {
    display: none !important;
}

.sortable-ghost {
    opacity: 0.3;
    background: #d1fae5;
}

.dark .sortable-ghost {
    background: #064e3b;
}