---
import Sidebar from "@components/sidebar/Sidebar.vue";
import Layout from "@layouts/Layout.astro";
import Main from "@components/Main.astro";
---

<Layout>
	<div class="app-container">
		<Sidebar client:only/>
		<Main/>
	</div>
</Layout>
