---
import Sidebar from '../components/Sidebar.astro';
import Layout from '../layouts/Layout.astro';
import Main from "../components/Main.astro";
---

<Layout>
	<div class="flex h-screen overflow-hidden">
		<Sidebar />
		<Main />
	</div>
</Layout>
